@using Application.DTOs
@using Domain.Entities

@model IEnumerable<Music>

@{
    ViewData["Title"] = "Músicas";
}

<div class="text-center gap-2 col-10 mx-auto">

    @if (TempData["MessageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MessageSuccess"]
            <button type="button" class="btn btn-danger btn-md close-alert" arial-label="Close">
                <i class="bi bi-x-lg"></i></button>
        </div>
    }

    @if (TempData["MessageError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessageError"]
            <button type="button" class="btn btn-danger btn-md close-alert" arial-label="Close">
                <i class="bi bi-x-lg"></i></button>
        </div>
    }

    <h2 class="display-4">Músicas</h2>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Music" asp-action="Create">
            <i class="bi bi-plus-lg"></i></a>
    </div><br>

    <table class="table table-sm border border-success text-light" id="table-music">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Duração</th>
                <th scope="col">Álbum</th>
                <th scope="col">Artista</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                int rowNumber = 1;
                foreach (Music music in Model)
                {
                    <tr>
                        <th scope="row">@rowNumber</th>
                        <td>@music.Title</td>
                        <td>@(music.Duration.ToString(@"hh\:mm"))</td>
                        <td>@(music.Album?.Title ?? "Álbum desconhecido")</td>
                        <td>@(music.Artist?.Name ?? "Artista desconhecido")</td>
                        <td>
                            <div class="btn-group-sm" role="group">
                                <a role="button" class="btn btn-primary" aria-label="Editar"
                                    asp-route-id="@music.Id" asp-controller="Music" asp-action="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a role="button" class="btn btn-danger" aria-label="Deletar"
                                    asp-route-id="@music.Id" asp-controller="Music" asp-action="DeleteConfirm">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    rowNumber++;
                }
            }
            else
            {
                <tr class="odd">
                    <td valign="top" colspan="5">
                        Nenhuma Música encontrada.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>