@using Application.DTOs
@using Domain.Entities

@model IEnumerable<Music>

@{
    ViewData["Title"] = "Músicas";
}

<div class="text-center gap-2 col-10 mx-auto">

    @if (TempData["MessageSuccess"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["MessageSuccess"]
            <button type="button" class="btn btn-danger btn-md close-alert" arial-label="Close">
                <i class="bi bi-x-lg"></i></button>
        </div>
    }

    @if (TempData["MessageError"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["MessageError"]
            <button type="button" class="btn btn-danger btn-md close-alert" arial-label="Close">
                <i class="bi bi-x-lg"></i></button>
        </div>
    }

    <h2 class="display-4 m-4">Músicas</h2>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Music" asp-action="Create">
            <i class="bi bi-plus-lg"></i></a>
    </div><br>

    <table class="table table-sm border border-success text-light" id="table-music">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Duração</th>
                <th scope="col">Álbum</th>
                <th scope="col">Artista</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                int rowNumber = 1;
                foreach (Music music in Model)
                {
                    <tr>
                        <th scope="row">@rowNumber</th>
                        <td>@music.Title</td>
                        <td>@(music.Duration.ToString(@"hh\:mm"))</td>
                        <td>@music.Album!.Title</td>
                        <td>@music.Artist!.Name</td>
                        <td>
                            <div class="btn-group-sm" role="group">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success btn-sm"
                                        title="Adicionar à Playlist">
                                        <i class="bi bi-music-note-list"></i>
                                    </button>

                                    <button type="button" class="btn btn-success btn-sm dropdown-toggle dropdown-toggle-split"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden"></span>
                                    </button>

                                    <ul class="dropdown-menu bg-body">
                                        @foreach (var playlist in ViewBag.Playlists as List<SelectListItem>)
                                        {
                                            <li>
                                                <a href="#" class="dropdown-item text-white"
                                                onclick="submitPlaylistForm('@music.Id', '@playlist.Value')">
                                                    @playlist.Text
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>

                                <!-- Formulário oculto -->
                                <form id="addToPlaylistForm" method="post" asp-controller="Music" asp-action="AddToPlaylist" style="display:none;">
                                    <input type="hidden" name="musicId" id="formMusicId" />
                                    <input type="hidden" name="playlistId" id="formPlaylistId" />
                                </form>

                                <a role="button" class="btn btn-primary" aria-label="Editar"
                                    asp-route-id="@music.Id" asp-controller="Music" asp-action="Edit">
                                    <i class="bi bi-pencil"></i></a>
                                <a role="button" class="btn btn-danger" aria-label="Deletar"
                                    asp-route-id="@music.Id" asp-controller="Music" asp-action="DeleteConfirm">
                                    <i class="bi bi-trash3"></i></a>
                            </div>
                        </td>
                    </tr>
                    rowNumber++;
                }
            }
            else
            {
                <tr class="odd">
                    <td valign="top" colspan="5">
                        Nenhuma Música encontrada.
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function submitPlaylistForm(musicId, playlistId) {
            document.getElementById("formMusicId").value = musicId;
            document.getElementById("formPlaylistId").value = playlistId;
            document.getElementById("addToPlaylistForm").submit();
        }
    </script>
}