@using Application.DTOs

@model AlbumDto
@{
    ViewData["Title"] = Model.Title;

    double totalSeconds = Model.Musics?.Sum(m => m.Duration.TotalSeconds) ?? 0;
    TimeSpan totalDuration = TimeSpan.FromSeconds(totalSeconds);

    string? formattedTotalDuration = $"{totalDuration.Minutes}min {totalDuration.Seconds}s";
}

<div class="container mt-5">
    <div class="d-flex row align-items-center">
        <div class="d-flex align-items-center">
            <p class="fs-6 m-0 me-2" style="color: #ced4da">@Model.Type</p>
            <i class="bi bi-disc text-success"></i>
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <h1 class="display-4 fw-bold me-2">@Model.Title</h1>

            <span class="dropstart">
                <button class="btn btn-dark btn-outline-secondary"
                    type="button" data-bs-toggle="dropdown">
                    <i class="bi bi-three-dots"></i>
                </button>
                <ul class="bg-body dropdown-menu border-secondary">
                    <li>
                        <a class="dropdown-item text-white"
                            asp-route-id="@Model.Id" asp-action="Edit">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger"
                            asp-route-id="@Model.Id" asp-action="DeleteConfirm">
                            <i class="bi bi-trash3"></i> Excluir
                        </a>
                    </li>
                </ul>
            </span>
        </div>

        <div class="d-flex align-items-center flex-wrap">
            <a class="fs-6 m-0 fw-bold text-decoration-none text-white"
                asp-controller="Artist" asp-action="Details"
                asp-route-Id="@Model.ArtistId">@Model.ArtistName</a>

            <i class="bi bi-dot"></i>
            <p class="fs-6 m-0">@Model.ReleaseDate.Year</p>

            <i class="bi bi-dot"></i>
            <p class="fs-6 m-0">@(Model.Musics?.Count() ?? 0) músicas</p>

            <i class="bi bi-dot"></i>
            <p class="fs-6 m-0">@formattedTotalDuration</p>
        </div>
    </div>

    <hr />

    <div class="mt-4">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
                <h3 class="m-0">Músicas</h3>
                <span class="badge fs-6 bg-primary ms-2">@(Model.Musics?.Count() ?? 0)</span>
            </div>

            <a class="btn btn-sm btn-primary" title="Adicionar Música"
                asp-controller="Music" asp-action="Create"
                asp-route-AlbumTitle="@Model.Title" asp-route-ArtistName="@Model.ArtistName">
                <i class="bi bi-plus-lg"></i>
            </a>
        </div>

        @if (Model.Musics!.Any())
        {
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Duração</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var music in Model.Musics!.OrderBy(m => m.Title))
                    {
                        <tr>
                            <td><div class="fw-bold">@music.Title</div></td>
                            <td>@music.Duration.ToString(@"mm\:ss")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p class="text-muted">Nenhuma música cadastrada.</p>
        }
    </div>

    <hr />

    <p class="fs-6 text-muted">@Model.ReleaseDate.ToString("dd/MM/yyyy")</p>
</div>
