@using WebUI.Models

@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="section mt-4">
    <h2 class="text-center m-4">Dashboard</h2>

    <main class="row text-white text-center">
        <section class="col-md-2 mb-4">
            <div class="card bg-body border-5 border-primary shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Artistas</h5>
                    <p class="card-text display-6">@Model.TotalArtists</p>
                </div>
            </div>
        </section>

        <section class="col-md-2 mb-4">
            <div class="card bg-body border-5 border-success shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Álbuns</h5>
                    <p class="card-text display-6">@Model.TotalAlbums</p>
                </div>
            </div>
        </section>

        <section class="col-md-2 mb-4">
            <div class="card bg-body border-5 border-warning shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Músicas</h5>
                    <p class="card-text display-6">@Model.TotalMusics</p>
                </div>
            </div>
        </section>

        <section class="col-md-2 mb-4">
            <div class="card bg-body border-5 border-danger shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Playlists</h5>
                    <p class="card-text display-6">@Model.TotalPlaylists</p>
                </div>
            </div>
        </section>

        <section class="col-md-4 mb-4">
            <h3 class="text-center">Top 10 Artistas</h3>
            <table class="table table-sm border border-success table-striped table-dark mt-3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Artista</th>
                        <th>Músicas</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.TopArtistsByMusicCount.Count; i++)
                    {
                        <tr class="align-middle">
                            <td>@(i + 1)</td>
                            <td>@Model.TopArtistsByMusicCount[i].Name</td>
                            <td>@Model.TopArtistsByMusicCount[i].Musics!.Count</td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
</div>
